/*=== MIXINS ===*/
/*=== VARIABLES ===*/
/*=== MEDIA QUERY ===*/
.top-bar-right {
  text-align: left; }

.topList {
  text-align: left; }

.topList li {
  margin-right: 0;
  margin-left: 25px; }

.topList li:last-child {
  margin: 0; }

.topList li i {
  margin-right: 0;
  margin-left: 7px; }

@media (min-width: 768px) {
  .navbar-default .navbar-nav.navbar-right {
    margin-right: 0;
    margin-left: 25px;
    float: left !important; } }

.navbar-brand {
  float: right; }

@media (min-width: 768px) {
  .navbar-nav li.dropdown.singleDrop .dropdown-menu li.open .dropdown-menu {
    border-left: none;
    border-right: 10px solid transparent; } }

@media (min-width: 768px) {
  .navbar .navbar-nav li.open .dropdown-menu,
  .navbar .navbar-nav li.dropdown .dropdown-menu {
    min-width: 170px;
    padding: 15px 15px 20px 0; } }

@media (min-width: 768px) {
  .navbar-nav li.open .dropdown-menu ul.dropdown-menu,
  .navbar-nav li.dropdown .dropdown-menu ul.dropdown-menu {
    border: none;
    top: 0 !important;
    left: auto !important;
    right: 100%;
    margin-left: 0;
    margin-right: -5px;
    border-left: none;
    border-right: 10px solid transparent; } }

.navbar-collapse ul.navbar-nav > li.dropdown > a:after {
  right: auto;
  left: 15px; }

.navbar-collapse ul.navbar-nav li.dropdown li.dropdown > a:after {
  right: auto;
  left: 0; }
  @media (min-width: 768px) {
    .navbar-collapse ul.navbar-nav li.dropdown li.dropdown > a:after {
      content: "\f104";
      right: auto;
      left: 15px; } }

@media (min-width: 768px) {
  .navbar-collapse ul.navbar-nav li.dropdown.open li.dropdown > a:after {
    content: "\f104"; } }

.searchBox {
  display: inline-block;
  float: right;
  position: absolute;
  top: 21px;
  left: 70px;
  right: auto; }
  @media (min-width: 768px) {
    .searchBox {
      top: 69px;
      right: auto;
      left: 15px; } }
  .searchBox .dropdown-menu-right {
    left: 0;
    right: auto; }

.rtl .main-slider {
  direction: ltr;
  text-align: right; }

.rtl .owl-carousel.commentSlider,
.rtl .owl-carousel.partnersLogoSlider,
.rtl .owl-carousel.testimonialSlider,
.rtl .owl-carousel.postSlider {
  direction: ltr; }

.rtl .owl-carousel.testimonialSlider,
.rtl .owl-carousel.postSlider {
  text-align: right; }

.main-slider .common-inner a {
  display: inline-block; }

.main-slider .slide-inner2 {
  padding: 10px 40px 10px 0; }
  @media (min-width: 480px) {
    .main-slider .slide-inner2 {
      padding: 10px 60px 10px 7px; } }
  @media (min-width: 768px) {
    .main-slider .slide-inner2 {
      padding: 20px 70px 20px 7px; } }
  @media (min-width: 992px) {
    .main-slider .slide-inner2 {
      padding: 30px 70px 30px 15px; } }
  @media (min-width: 1200px) {
    .main-slider .slide-inner2 {
      padding: 40px 85px 40px 10px; } }

.banner-bottom-inner .media-left {
  margin-right: 0;
  margin-left: 20px;
  float: right; }
  @media (min-width: 768px) {
    .banner-bottom-inner .media-left {
      margin-right: 0;
      margin-left: 15px; } }
  @media (min-width: 992px) {
    .banner-bottom-inner .media-left {
      margin-right: 0;
      margin-left: 20px; } }

.lawInfo ul li i {
  margin-right: 0;
  margin-left: 10px; }

.progress-title {
  text-align: right; }

.full-width-section .half-width-right .free-request {
  padding: 30px 30px 0 10px; }
  @media (min-width: 992px) {
    .full-width-section .half-width-right .free-request {
      padding: 70px 50px 0 10px; } }

.countUpSection.paralax .icon {
  margin-right: 0;
  margin-left: 15px;
  float: right; }

@media (min-width: 768px) {
  .media .media-left {
    padding-right: 0;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .media .media-left {
    padding-right: 0;
    padding-left: 25px; } }

.media .list-inline li i,
.gridView > .caption > .list-unstyled li i,
.gridView > .caption > .list-inline li i {
  margin-right: 0;
  margin-left: 8px; }

.footerBottom-inner .media-left {
  float: right; }

@media (min-width: 768px) {
  .copyRight .list-inline {
    text-align: left; } }

.sectionTitle h2:before {
  margin-right: 0;
  margin-left: 15px; }

.sectionTitle h2:after {
  margin-left: 0;
  margin-right: 15px; }

.footerBottom-inner .footerTitle h4:after {
  margin-left: 0;
  margin-right: 15px; }

@media (min-width: 768px) {
  .footerInfo .input-group .input-group-addon {
    float: left; } }

.input-group .form-control:first-child,
.input-group-addon:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.download-pdf i {
  margin-right: 0;
  margin-left: 10px; }

.navbar-collapse.content-collapse ul.navbar-nav li a i {
  right: auto;
  left: 25px; }

.sectionTitle.text-left {
  text-align: right; }

@media (min-width: 768px) {
  .pageTitleSection .pageTitleInfo.align-right .breadcrumb {
    float: left; } }

.sticker {
  left: auto;
  right: 0; }

.sidebar .input-group .btn {
  left: 0;
  right: auto; }

.block .media .media-left {
  padding-right: 0;
  padding-left: 15px;
  float: right; }

.block .media {
  direction: rtl; }

.block .media .list-inline li i {
  margin-left: 5px;
  margin-right: 0; }

@media (min-width: 768px) {
  .errorMsg {
    text-align: left;
    padding-right: 0;
    padding-left: 50px;
    margin-right: 0;
    margin-left: 20px;
    border-right: none;
    border-left: 1px solid #dedede; } }

.errorInfo .input-group .input-group-addon i:before {
  content: "\f060"; }

.errorInfo .input-group .input-group-addon {
  right: auto;
  left: 10px; }

.formBtnArea.pull-left {
  float: right !important; }

.detail-content ul li i {
  margin-right: 0;
  margin-left: 10px; }

@media (min-width: 768px) {
  .detail-content .detail-left {
    border-right: none;
    border-left: 1px solid #dedede;
    padding-right: 0;
    padding-left: 30px; } }

.consultation .input-group .form-control {
  float: right; }
  @media (min-width: 480px) {
    .consultation .input-group .form-control {
      margin-right: 0;
      margin-left: 5px; } }

@media (min-width: 768px) {
  .consultation .input-group {
    float: left; } }

.profile-contact span i {
  margin-right: 0;
  margin-left: 10px; }

@media (min-width: 768px) {
  .profile-progress .progress-wrapper {
    padding: 0 30px 0 0;
    border-left: none;
    border-right: 1px solid #dedede; } }

@media (min-width: 992px) {
  .profile-progress .progress-wrapper {
    padding: 0 50px 0 0;
    margin-left: 0;
    margin-right: 10px; } }

@media (min-width: 1200px) {
  .profile-progress .progress-wrapper {
    padding: 0 50px 0 0;
    margin-left: 0;
    margin-right: 20px; } }

/*# sourceMappingURL=maps/rtl.css.map */
